/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b23333;
}

/* Header Styles */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Main Styles */

main {
  margin: 20px;
}

article {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #ccc;
  padding: 20px;
}

article header {
  margin-bottom: 20px;
}

article h2 {
  margin: 0;
}

article p {
  line-height: 1.5;
}

/* Footer Styles */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

